.container {
  width: 100%;
  height: calc(100vh - 60px);
}

.container .formGenerator {
  position: relative;
  height: 100%;
  border-bottom: 1px solid #ebeef5;
}

.container .formGenerator :global .formGeneratorContainer,
.container .formGenerator :global .formGeneratorContentWrap {
  height: 100%;
}

.container .formGenerator :global .formToolBarWrap,
.container .formGenerator :global .formGeneratorContentBox,
.container .formGenerator :global .formGeneratorRightForm {
  margin-top: 38px;
}

.container .formGenerator :global .formGeneratorContentWrap {
  padding-left: 300px;
}

.container .formGenerator :global .formToolBarWrap {
  width: 300px;
}

.container .formGenerator :global .formGeneratorToolBarBoxClass {
  padding-left: 20px;
  padding-right: 20px;
}

.container .formGenerator :global .formGeneratorContentBox {
  display: flex;
  flex-direction: column;
  height: calc(100% - 38px);
  background-color: #f5f5f5;
}

.container .formGenerator :global .formGeneratorContentFormClass {
  flex: 1;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container .formGenerator :global .formGeneratorRightForm {
  padding-right: 20px;
}

.container .formGenerator :global .formGeneratorRightForm .el-tabs__content {
  padding-top: 20px;
}

.container .formGenerator :global .formGeneratorRightForm .el-form {
  padding-right: 0;
}

.container .formGenerator :global .formGeneratorDragArea {
  overflow-x: hidden;
}

.container .formGeneratorContentToolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  top: -38px;
  left: -300px;
  right: -380px;
  z-index: 10;
  background: #FFF;
  border-bottom: 1px solid #EEE;
}
