.container {
    padding: 0 0 0 20px;
     ::v-deep {
        .el-icon-setting {
            color: rgba(0, 0, 0, .85);
        }
    }
}

.editModal {
    /* width: 450px;
     ::v-deep {
        .ant-form-item:last-child {
            margin-bottom: 0;
        }
    } */
}