.container {
  height: 900px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container .input {
  margin-top: 20px;
}

.container ::v-deep .el-card {
  border: none;
}

.container ::v-deep .jv-container {
  margin: -20px;
}

.container ::v-deep .jv-code {
  padding: 18px 20px;
}
