.container {
    height: 900px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .input {
        margin-top: 20px;
    }
     ::v-deep {
        .el-card {
            border: none;
        }
        .jv-container {
            margin: -20px;
        }
        .jv-code {
            padding: 18px 20px;
        }
    }
}