.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .header {
        width: 100%;
        height: 48px;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: space-between;
    }
    .toolBar {
        height: 43px;
    }
    .sideBar {
        border-right: 1px solid #D9D9D9;
    }
    .settingBar {
        width: 350px;
        height: 100%;
        border-left: 1px solid #D9D9D9;
    }
     ::v-deep {
        .x6-widget-minimap {
            position: absolute;
            right: 40px;
            bottom: 80px;
        }
        .splitpanes--vertical .splitpanes__pane {
            transition: none;
        }
    }
}

.split-pane {
    .splitpanes {
        background-color: #f8f8f8;
    }
    .splitpanes__splitter {
        background-color: #ccc;
        position: relative;
    }
    .splitpanes__splitter:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.4s;
        background-color: rgba(255, 0, 0, 0.3);
        opacity: 0;
        z-index: 1;
    }
    .splitpanes__splitter:hover:before {
        opacity: 1;
    }
    .splitpanes--vertical>.splitpanes__splitter:before {
        left: -30px;
        right: -30px;
        height: 100%;
    }
    .splitpanes--horizontal>.splitpanes__splitter:before {
        top: -30px;
        bottom: -30px;
        width: 100%;
    }
}