.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container .header {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  justify-content: space-between;
}

.container .toolBar {
  height: 43px;
}

.container .sideBar {
  border-right: 1px solid #D9D9D9;
}

.container .settingBar {
  width: 350px;
  height: 100%;
  border-left: 1px solid #D9D9D9;
}

.container ::v-deep .x6-widget-minimap {
  position: absolute;
  right: 40px;
  bottom: 80px;
}

.container ::v-deep .splitpanes--vertical .splitpanes__pane {
  transition: none;
}

.split-pane .splitpanes {
  background-color: #f8f8f8;
}

.split-pane .splitpanes__splitter {
  background-color: #ccc;
  position: relative;
}

.split-pane .splitpanes__splitter:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: rgba(255, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
}

.split-pane .splitpanes__splitter:hover:before {
  opacity: 1;
}

.split-pane .splitpanes--vertical > .splitpanes__splitter:before {
  left: -30px;
  right: -30px;
  height: 100%;
}

.split-pane .splitpanes--horizontal > .splitpanes__splitter:before {
  top: -30px;
  bottom: -30px;
  width: 100%;
}
