.react-json-view .collapsed-icon svg,
.react-json-view .expanded-icon svg {
  vertical-align: middle !important;
}

.x6-node .x6-port-body {
  visibility: hidden;
}

.x6-node:hover .x6-port-body {
  visibility: visible;
}
