.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background-color: #fff;
    &-wrapper {
        height: 100%;
        padding: 0 10px;
        box-sizing: content-box;
        background-color: #fff;
        overflow-y: auto;
    }
    &.center {
        justify-content: center;
        align-items: center;
    }
     ::v-deep {
        .el-tabs__header {
            margin-bottom: 0;
        }
    }
     :global {
        .ant-tabs-nav {
            margin-bottom: 0;
        }
        .ant-tabs-nav-list {
            display: flex;
            flex: 1;
        }
        .ant-tabs-tab {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            background-color: #fafafa;
            border-bottom: 1px solid #d9d9d9;
        }
    }
}