.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-color: #fff;
}

.container-wrapper {
  height: 100%;
  padding: 0 10px;
  box-sizing: content-box;
  background-color: #fff;
  overflow-y: auto;
}

.container.center {
  justify-content: center;
  align-items: center;
}

.container ::v-deep .el-tabs__header {
  margin-bottom: 0;
}

.container :global .ant-tabs-nav {
  margin-bottom: 0;
}

.container :global .ant-tabs-nav-list {
  display: flex;
  flex: 1;
}

.container :global .ant-tabs-tab {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
}
