.guideContainer {
    height: 650px;
     ::v-deep {
        .tabPane {
            height: 600px;
            overflow-y: auto;
            line-height: 1.5715;
            &::-webkit-scrollbar {
                width: 0;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: .5em;
                font-weight: 500;
            }
            h2 {
                font-size: 1.5em;
            }
            h3 {
                display: block;
                font-size: 1.17em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            ol,
            ul,
            dl {
                margin-top: 0;
                margin-bottom: 1em;
            }
            ol {
                display: block;
                list-style-type: decimal;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
                li {
                    list-style-type: decimal;
                }
            }
            a {
                color: #1890ff;
            }
            p {
                margin-bottom: 1em;
            }
            img {
                margin: 10px 0;
            }
            pre {
                color: rgb(212, 222, 236);
                font-size: 14px;
                line-height: 20px;
                padding: 10px 10px;
                background-color: #001628;
                border-radius: 3px;
                border: 1px solid rgb(0, 7, 14);
                font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
            }
        }
    }
}