.container {
    width: 100%;
    height: 100%;
    // overflow: scroll;
    display: flex;
    flex-direction: column;
    .consoleTabs {
        flex: 1;
        overflow: hidden;
    }
     ::v-deep {
        .el-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }
        .el-tabs__header {
            margin-bottom: 0;
        }
        .el-tabs__content {
            flex: 1;
            overflow-y: auto;
        }
        .el-tab-pane {
            height: 100%;
        }
    }
    .logPanel {
        height: 100%;
        background: #272823;
        .logLine {
            display: flex;
            flex-direction: row;
            position: relative;
            margin-top: -1px;
            padding-left: 10px;
            font-size: 13px;
            border: 1px solid transparent;
            &:first-child {
                margin-top: 0;
            }
            .logIcon {
                padding-top: 6px;
                width: 14px;
                height: 14px;
            }
            .logContent {
                margin-left: 8px;
                min-height: 18px;
                padding: 6px 24px 6px 0;
                line-height: 20px;
                word-break: break-all;
                 ::v-deep {
                    a {
                        color: #1890ff;
                        &:hover {
                            color: #40a9ff;
                        }
                    }
                    .jv-container {
                        display: inline-block;
                        vertical-align: top;
                        background: transparent;
                    }
                    .jv-code {
                        padding: 0;
                    }
                    // values are default one from jv-light template
                    .console-json-theme {
                        background: transparent;
                        white-space: nowrap;
                        color: #525252;
                        font-size: 14px;
                        font-family: Consolas, Menlo, Courier, monospace;
                        .jv-ellipsis {
                            color: #999;
                            background-color: transparent;
                            display: inline-block;
                            line-height: 0.9;
                            font-size: 0.9em;
                            padding: 0px 4px 2px 4px;
                            border-radius: 3px;
                            vertical-align: 2px;
                            cursor: pointer;
                            user-select: none;
                        }
                        .jv-button {
                            color: #49b3ff;
                        }
                        .jv-key {
                            color: #fff;
                            // margin-right: 0.5em;
                        }
                        .jv-item {
                            &.jv-array {
                                color: #fff;
                            }
                            &.jv-boolean {
                                color: #fc1e70;
                            }
                            &.jv-function {
                                color: #067bca;
                            }
                            &.jv-number {
                                color: #fc1e70;
                            }
                            &.jv-number-float {
                                color: #fc1e70;
                            }
                            &.jv-number-integer {
                                color: #fc1e70;
                            }
                            &.jv-object {
                                color: #fff;
                            }
                            &.jv-undefined {
                                color: #e08331;
                            }
                            &.jv-string {
                                color: #42b983;
                                word-break: break-word;
                                white-space: normal;
                            }
                        }
                        .jv-code {
                            .jv-toggle {
                                &:before {
                                    padding: 0px 2px;
                                    border-radius: 2px;
                                }
                                &:hover {
                                    &:before {
                                        background: #eee;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .toolBar {
        position: absolute;
        top: 5px;
        right: 20px;
        z-index: 1;
        display: flex;
        flex-direction: row;
        .levels {
            width: 150px;
            margin-left: 10px;
        }
        .clear {
            margin-left: 20px;
        }
         ::v-deep {
            .icon-sam {
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}