.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container .consoleTabs {
  flex: 1;
  overflow: hidden;
}

.container ::v-deep .el-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.container ::v-deep .el-tabs__header {
  margin-bottom: 0;
}

.container ::v-deep .el-tabs__content {
  flex: 1;
  overflow-y: auto;
}

.container ::v-deep .el-tab-pane {
  height: 100%;
}

.container .logPanel {
  height: 100%;
  background: #272823;
}

.container .logPanel .logLine {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: -1px;
  padding-left: 10px;
  font-size: 13px;
  border: 1px solid transparent;
}

.container .logPanel .logLine:first-child {
  margin-top: 0;
}

.container .logPanel .logLine .logIcon {
  padding-top: 6px;
  width: 14px;
  height: 14px;
}

.container .logPanel .logLine .logContent {
  margin-left: 8px;
  min-height: 18px;
  padding: 6px 24px 6px 0;
  line-height: 20px;
  word-break: break-all;
}

.container .logPanel .logLine .logContent ::v-deep a {
  color: #1890ff;
}

.container .logPanel .logLine .logContent ::v-deep a:hover {
  color: #40a9ff;
}

.container .logPanel .logLine .logContent ::v-deep .jv-container {
  display: inline-block;
  vertical-align: top;
  background: transparent;
}

.container .logPanel .logLine .logContent ::v-deep .jv-code {
  padding: 0;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme {
  background: transparent;
  white-space: nowrap;
  color: #525252;
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-ellipsis {
  color: #999;
  background-color: transparent;
  display: inline-block;
  line-height: 0.9;
  font-size: 0.9em;
  padding: 0px 4px 2px 4px;
  border-radius: 3px;
  vertical-align: 2px;
  cursor: pointer;
  user-select: none;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-button {
  color: #49b3ff;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-key {
  color: #fff;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-array {
  color: #fff;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-boolean {
  color: #fc1e70;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-function {
  color: #067bca;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-number {
  color: #fc1e70;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-number-float {
  color: #fc1e70;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-number-integer {
  color: #fc1e70;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-object {
  color: #fff;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-undefined {
  color: #e08331;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-item.jv-string {
  color: #42b983;
  word-break: break-word;
  white-space: normal;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-code .jv-toggle:before {
  padding: 0px 2px;
  border-radius: 2px;
}

.container .logPanel .logLine .logContent ::v-deep .console-json-theme .jv-code .jv-toggle:hover:before {
  background: #eee;
}

.container .toolBar {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.container .toolBar .levels {
  width: 150px;
  margin-left: 10px;
}

.container .toolBar .clear {
  margin-left: 20px;
}

.container .toolBar ::v-deep .icon-sam {
  font-size: 12px;
  margin-right: 5px;
}
