@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    .pane {
        position: relative;
        .runWrapper {
            position: absolute;
            top: -6px;
            right: 10px;
             ::v-deep {
                .icon-sam__spin {
                    display: inline-block;
                    animation-name: spin;
                    animation-timing-function: linear;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    .input,
    .output {
        width: 100%;
        height: 100%;
    }
    .input {
         ::v-deep {
            .cardBody {
                overflow: hidden;
            }
            .el-tabs {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .el-tabs__content {
                flex: 1;
                overflow-y: auto;
            }
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ffffff;
    .cardTitleText {
        margin: 10px 24px 0;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
    }
    .cardBody {
        padding: 10px 24px;
        height: 100%;
        overflow: scroll;
    }
}

:global {
    .ant-tabs {
        height: 100%;
    }
    .ant-tabs-content-holder {
        height: 100%;
    }
    .ant-tabs-content {
        height: 100%;
        overflow: scroll;
    }
    .sc-bdVaJa.cjjWdp {
        opacity: 1;
        background-color: #efefef;
        &:hover {
            border-color: transparent;
        }
    }
}