@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.container .pane {
  position: relative;
}

.container .pane .runWrapper {
  position: absolute;
  top: -6px;
  right: 10px;
}

.container .pane .runWrapper ::v-deep .icon-sam__spin {
  display: inline-block;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.container .input,
.container .output {
  width: 100%;
  height: 100%;
}

.container .input ::v-deep .cardBody {
  overflow: hidden;
}

.container .input ::v-deep .el-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container .input ::v-deep .el-tabs__content {
  flex: 1;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
}

.card .cardTitleText {
  margin: 10px 24px 0;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.card .cardBody {
  padding: 10px 24px;
  height: 100%;
  overflow: scroll;
}

:global .ant-tabs {
  height: 100%;
}

:global .ant-tabs-content-holder {
  height: 100%;
}

:global .ant-tabs-content {
  height: 100%;
  overflow: scroll;
}

:global .sc-bdVaJa.cjjWdp {
  opacity: 1;
  background-color: #efefef;
}

:global .sc-bdVaJa.cjjWdp:hover {
  border-color: transparent;
}
